<h2 class="heading">Academic Background</h2>


<div class="education-container">
  <div class="education">
    <img src="assets/images/kindergarten.png" alt="Kindergarten" class="education-img"/>
    <div class="arrow right-arrow"></div>
    <img src="assets/images/10th.png" alt="10th" class="education-img"/>
    <div class="arrow right-arrow"></div>
    <img src="assets/images/12th.png" alt="12th" class="education-img"/>
    <div class="arrow right-arrow"></div>
    <img src="assets/images/btech.png" alt="B.Tech" class="education-img"/>
    <div class="arrow right-arrow"></div>
    <img src="assets/images/mtech.png" alt="M.Tech" class="education-img"/>
  </div>
</div>

<p>I hold a Bachelor of Engineering in Electronics and Communications from Kumaraguru College of Technology, where I
  also received the Mahatma Gandhi Scholarship award for academic excellence. During my B.Tech, I worked on a Smart
  Dumpster project — a microcontroller-based dumpster with automated lid operation integrated with MQ9, IR sensors, and
  servos, capable of distinguishing and segregating bio-degradable and non-biodegradable wastes at the initial user
  touchpoint. </p>

<p>My Master's degree in Data Science from BITS Pilani was marked by hands-on projects like country
  vaccinations dataset analysis, supermarket sales modeling, and insurance cost prediction, showcasing my proficiency in
  EDA, machine learning algorithms, and data visualization. One of the notable project involved using ML to detect eye
  diseases
  based on color fundus images, identifying conditions like diabetic retinopathy , glaucoma etc.
</p>