<h2>A Little About Me</h2>
<p>A seasoned Full Stack Lead Developer with a passion for
    creating impactful digital experiences, I specialize in crafting websites, web applications,
    and RESTful services. My expertise lies in Angular development, complemented by a strong proficiency in Java.
    My journey in the tech industry has been driven by an insatiable curiosity and a commitment to staying ahead of
    emerging technologies,
    which led me to earn a Master’s degree in Data Science from BITS Pilani.</p>

<h2>Journey Thus Far</h2>
<p>Currently, I am a Full Stack Developer at Avaya, where I have been actively involved in developing unit testing
    frameworks using Jasmine for Angular and JUnit for Java applications. My role also includes crafting end-to-end test
    cases with Playwright, optimizing software performance, and enhancing the onboarding process for new team members.
    Additionally, I am on a continuous learning path to gain proficiency in Azure cloud services. I am also engaged in
    requirement procurement, creating common dashboards, and leading a team of five professionals offshore. Furthermore,
    I participate in business decision discussions to finalize requirements with Business Analysts.</p>
<p>Before Avaya, I spent over four years at Cognizant, progressing from a Programmer Analyst Trainee to a Lead
    Developer. During my tenure, I implemented multiple Angular applications as single-page applications with JWT
    authentication and Spring MVC, and developed a strong foundation in UI design, team leadership, and critical
    thinking. My technical skills span a wide array, including SQL, Anaconda, Python, and various frontend technologies
    like Angular Material and Bootstrap.</p>