<h2  class="heading">A Little About Me</h2>
<p>I’m a detail-oriented Full Stack Developer with a passion for designing seamless digital experiences that not only function well but create meaningful impact. 
    With a strong foundation in Angular and Java, I specialize in building dynamic web applications and scalable RESTful services.
    My love for solving complex problems and staying at the edge of innovation led me to pursue a Master’s in Data Science from BITS Pilani. 
    I continue to evolve my skills across the full software lifecycle — blending development, architecture, and AI — while keeping user experience, performance, 
    and maintainability at the core of my work.</p>

<h2  class="heading">Journey Thus Far</h2>
<p>Currently working as a Fullstack Developer and Site Reliability Engineer, I’m contributing to the development of an internal AI-driven chatbot solution designed to 
    streamline user support. This intelligent assistant leverages Retrieval-Augmented Generation (RAG) and large language models (LLMs) to integrate with platforms like
    knowledge bases and issue trackers — helping lay the foundation for smarter internal operations.</p>
<p>In my SRE capacity, I’ve built a reputation for my sharp debugging capabilities and architectural understanding, which enable quick diagnosis and resolution of issues across 
    various layers of the tech stack.Alongside my core tech stack — Angular, Java, and Python — I’m expanding into React, DB2, MySQL, and AI/ML, keeping myself future-ready 
    and versatile across roles.</p>