<h2>Personal Interests</h2>
<p>Outside of work, I am passionate about continuous learning and exploring new technologies. I find inspiration in
    sci-fi movies and series, with "Friends" and "Silicon Valley" being my favorites. Richard from "Silicon Valley" and
    Iron Man have significantly influenced my curiosity about programming. I also enjoy reading, with my recent
    obsession being "It Ends with Us" by Colleen Hoover, and one of the best books I’ve read is "A Good Girl's Guide to
    Murder."</p>

<p>Music is another one of my passions. I listen to various genres, including classical and indie pop. I play the
    keyboard and love singing. To declutter my thoughts, I often go on long walks, which provide an escape from the busy
    everyday schedule. Being in nature has a calming effect on me, fueling my vivid interest in poetry. I've written
    numerous poems inspired by day-to-day life.</p>