<h2 class="heading">Skills</h2>
<div class="skills-container">
  <div class="skills-section">
    <div class="section-title">Frontend</div>
    <div class="skills">
      <img src="assets/images/angular.png" alt="Angular" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/html.png" alt="HTML" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/css.png" alt="CSS" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/bootstrap.png" alt="Bootstrap" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/js.png" alt="JS" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/ts.png" alt="TS" class="skill-img"/>
    </div>
  </div>
  
  <div class="skills-section">
    <div class="section-title">Backend</div>
    <div class="skills">
      <img src="assets/images/java.png" alt="Java" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/python.png" alt="Python" class="skill-img"/>
    </div>
  </div>
  
  <div class="skills-section">
    <div class="section-title">Database</div>
    <div class="skills">
      <img src="assets/images/mysql.png" alt="My SQL" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/sql.png" alt="SQL" class="skill-img"/>
    </div>
  </div>
  
  <div class="skills-section">
    <div class="section-title">Version Control</div>
    <div class="skills">
      <img src="assets/images/bitbucket.png" alt="Bitbucket" class="skill-img"/>
      <div class="arrow right-arrow"></div>
      <img src="assets/images/git.png" alt="GIT" class="skill-img"/>
    </div>
  </div>
  
  <div class="skills-section">
    <div class="section-title">Deployment</div>
    <div class="skills">
      <img src="assets/images/jenkins.png" alt="Jenkins" class="skill-img"/>
    </div>
  </div>
</div>
