app-about,
app-education,
app-interests,
app-skills,
app-contact-section,
app-letsconnect {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}